{:source-paths ["src"]

 :dependencies [[binaryage/devtools "0.9.10"]
                [proto-repl "0.3.1"]
                [cljstache "2.0.6"]
                [reagent "1.2.0"]
                ]

 :nrepl        {
                :port 3333}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main
         {:entries [app.core]}}

        :devtools
        {:http-root   "public"
         :http-port   3000}}}}
